<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Example - example-ngControllerAs-production</title>
  <script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
  <style>
   * {
     margin: 0;
     padding: 0;
   }
    .main {
      width: 100%;
      height: 200px;
      position: relative;
      display: block;
    }
    .container-main {
      width: 100%;
      height: 100%;
      display: inline-block;
      position: relative;
    }
    .main .controls,
    .main .options {
      width: 100%;
      height: 50%;
    }
    .main .options,
    .main .controls {
      display: flex;
    }
    .main .options .option,
    .main .controls .control {
      flex: 1;
      opacity: .5;
    }
  </style>
</head>
<body ng-app="app">
  <div ng-controller="ControllerApp as controller">
    <div class="main">
      <div class="container-main">
        <div class="controls">
          <div ng-repeat="control in controller.controls" class="control" style="background-color: {{controller.color[control]}}" ng-click="controller.setControl(control)">
            <div class="container-control">
            </div>
          </div>
        </div>
        <div class="options" ng-show="controller.level>1">
          <div ng-repeat="option in controller.options" class="option" style="background-color: {{controller.color[option]}}" ng-click="controller.setOption(option)">
            <div class="container-option">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p>Test Parameters:</p>
      <hr>
      <input type="button" ng-hide="controller.configuration" ng-click="controller.end()" value="end" />
      <input type="button" ng-show="controller.configuration" ng-click="controller.start()" value="start" />
      <div ng-show="controller.configuration">
      <hr>
      <p>Listado de opciones</p>
      <p ng-repeat="option in controller.options">{{option}}&nbsp;<input type="button" ng-click="controller.removeOption($index)" value="quitar"></p>
      <input type="text" ng-model="controller.newOption" ng-value="controller.newOption" placeholder="new option" />
      <input type="button" ng-click="controller.addOption()" value="añadir" />
      <hr>
      <p>Listado de colores(css name color)</p>
      <p ng-repeat="color in controller.colors">{{color}}&nbsp;<input type="button" ng-click="controller.removeColor($index)" value="quitar"></p>
      <input type="text" ng-model="controller.newColor" ng-value="controller.newColor" placeholder="new color" />
      <input type="button" ng-click="controller.addColor()" value="añadir" />
    </div>
      <hr>
      <p>Level: {{controller.level}}</p>
      <p>Answer: {{controller.option}}</p>
      <p>Seconds: {{controller.seconds}}</p>
      <p>Playing: {{controller.playing}}</p>
    </div>
  </div>

<script>

(function(angular) {
'use strict';
angular.module('app', []).controller('ControllerApp', ControllerApp);

function ControllerApp($scope) {
  this.scope = $scope;
  this.control = 0;
  this.controls = ['ctr1'];
  this.colors = ['red','green','blue','yellow'];
  this.options = ['option1','option2','option3'];
  this.option = null;
  this.color = {};
  this.processing = false;
  this.playing = false;
  this.configuration = true;
  this.newOption = 'newOption';
  this.newColor = 'newColor';
}
ControllerApp.prototype.addColor = function() {
  var index = this.options.indexOf(this.newColor);
  if (index < 0) {
    this.colors.push(this.newColor);
  } else {
    alert('already exist');
  }
}
ControllerApp.prototype.removeColor = function(index) {
  this.colors.splice(index, 1);
}
ControllerApp.prototype.addOption = function() {
  var index = this.options.indexOf(this.newOption);
  if (index < 0) {
    this.options.push(this.newOption);
  } else {
    alert('already exist');
  }
}
ControllerApp.prototype.removeOption = function(index) {
  this.options.splice(index, 1);
}
ControllerApp.prototype.start = function() {
  if (this.colors.length < this.options.length) {
    alert('error configuración del juego');
    return;
  }
  this.configuration = false;
  this.init();
}
ControllerApp.prototype.end = function() {
  this.processing = false;
  this.configuration = true;
  this.playing = false;
  this.level = 0;
  this.color = {};
  this.option = null;
  clearInterval(this.watcher);
}

ControllerApp.prototype.init = function() {
  this.level = 1;
  this.seconds = 0;
  this.color[this.controls[this.control]] = this.rnd(this.colors);
  this.processing = false;
}
ControllerApp.prototype.setControl = function(control) {
  if (!this.processing) {
    this.processing = true;
    if (this.level==1) {
      this.gameStart();
    }
  }
};
ControllerApp.prototype.setOption = function(option) {
  if (!this.processing) {
    this.processing = true;
    if (this.level>1) {
      if (this.option==option) {
        this.levelUp();
      } else {
        this.gameOver();
      }
    }
  }
}
ControllerApp.prototype.levelUp = function() {
  this.level++;
  this.option = this.rnd(this.options);
  var color = this.color[this.controls[this.control]];
  this.setOptionColors(color);
  this.setOptionControl();
  this.processing = false;
}
ControllerApp.prototype.setOptionControl = function() {
  this.color[this.controls[this.control]] = this.rnd(this.colors);
}
ControllerApp.prototype.setOptionColors = function(color) {
  var exceptions = [];
  this.color[this.option] = color;
  exceptions.push(color);
  this.setOptionColor(0, exceptions);
}
ControllerApp.prototype.setOptionColor = function(i, exceptions) {
  if (i < this.options.length) {
    if (this.options[i]!=this.option) {
      this.setColor(i, this.rndExceptions(this.colors, exceptions), exceptions);
    } else {
      this.setOptionColor(i+1, exceptions);
    }
  }
}
ControllerApp.prototype.setColor = function(i, color, exceptions) {
  this.color[this.options[i]] = color;
  exceptions.push(color);
  this.setOptionColor(i+1, exceptions);
}
ControllerApp.prototype.gameStart = function() {
  this.playing = true;
  this.startDate = new Date().getTime();
  this.watcher = setInterval(this.setSeconds.bind(this), 100);
  this.levelUp();
}
ControllerApp.prototype.setSeconds = function() {
  var dif = (new Date()).getTime() - this.startDate;
  this.seconds = Math.abs(dif/1000).toFixed(1);
  this.scope.$apply();
}
ControllerApp.prototype.gameOver = function() {
  this.processing = true;
  this.playing = false;
  clearInterval(this.watcher);
  // alert('restarting...');
  this.init();
}
ControllerApp.prototype.rndExceptions = function(array, exceptions) {
  var arr = array.filter(function(el) {
    return exceptions.indexOf(el) < 0;
  });
  var rnd = this.rnd(arr);
  return rnd;
};
ControllerApp.prototype.rnd = function(arr) {
  return arr[Math.floor(Math.random()*arr.length)];
};


})(window.angular);

</script>

</body>
</html>
